body{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: rgb(46, 119, 62);
  
}
.App {
  text-align: center;
}
h1{
  font-family: cursive;
  color: brown;
  margin-top: 0px;
  padding-top:20px ;
}
input{
  margin-top: 50px;
  padding-left: 20px;
  width: 500px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border:2px solid brown;
  font-size: 20px;
  font-family: cursive;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  } 
li{
  width:300px;
  padding: 10px;
  background-color: Brown;
  margin: 5px;
  font-size: 25px;
  color: #fff;
  font-family: cursive;
  border-radius: 5px;
}

@media (max-width:550px){
  input{
    width:300px
  }
  li{
    width: 200px;
  }
}